//registry.npmjs.org/:_authToken=${NPM_TOKEN}

# ADO - Jll-Applications feed
# registry=https://pkgs.dev.azure.com/JLL-Applications/_packaging/JLL.Capability/npm/registry/ 
                        
# always-auth=true